.button {
	border-style: solid;
	border-radius: var(--ui-border-radius);
	outline: none;
	transition: var(--ui-transition);
}

.button.default {
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.5em 1em;
	border: 1px solid var(--ui-border);
	background: var(--ui-bg);
	transition: var(--ui-transition);
}

@media (hover: hover) {
	.button.default:not(:disabled):hover {
		color: var(--ui-border);
		background: var(--ui-bg-active);
	}
}
