.container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
}

.list {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	width: 100%;
	list-style: none;
	font-weight: 600;
}

.list-item {
	width: 100%;
	font-family: var(--mono-font);
	font-size: 1.25rem;
	padding: 0.5em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: capitalize;
	position: relative;
}

.list-item.completed {
	opacity: 0.5;
}

.list-item.completed .task-title {
	text-decoration: 0.15em line-through;
}
