:root {
	--color-complete: rgb(0, 130, 9);
	--color-delete: rgb(240, 50, 25);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	position: relative;
	z-index: 5;
}

@media (hover: hover) {
	.delete:hover {
		background: var(--color-delete);
	}
	.complete:hover {
		background: var(--color-complete);
	}
}
