.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	background: transparent;
	width: 2rem;
	height: 2rem;
	padding: 5px;
	border-radius: 50%;
}

.button svg {
	fill: black;
	height: 100%;
	width: auto;
}
