.container {
	width: 100%;
	background: var(--container-bg);
	border-radius: var(--container-border-radius);
	padding: var(--container-padding);
}

.list {
	width: 100%;
	list-style: none;
	font-weight: 700;
}

.list-item {
	font-size: 1.25rem;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
}

.list-item.completed {
	opacity: 0.25;
}

.list-item.completed .task-title {
	text-decoration: 0.15em line-through;
}
