:root {
	--ui-bg: rgb(240, 240, 240);
	--ui-border: rgb(130, 130, 130);
	--ui-border-radius: 3px;
	--ui-bg-active: white;
	--ui-transition: background 0.1s ease, color 0.1s ease;

	--container-bg: white;
	--container-border-radius: 10px;
	--container-padding: 1rem;
}

#root {
	width: 100%;
	min-height: 100%;
	gap: 2rem;
	padding: 2rem;
}

.App {
	width: 100%;
	max-width: 60ch;
	min-height: 50vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 1rem;
	border-radius: 20px;
	text-align: center;
}

button:not(:disabled) {
	cursor: pointer;
}
