:root {
	--main-font: 'Signika Negative', sans-serif;
	--mono-font: 'IBM Plex Mono', monospace;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 1rem;
	line-height: 160%;
}

body {
	font-family: var(--main-font);
	background-color: rgb(230, 230, 230);
}

#root {
	width: 100%;
	min-height: 100%;
	padding: 2rem 1rem;
}
